<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Hospital el Milagro</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{layout/plantilla :: carousel}"></section>
        <section th:replace="~{layout/plantilla :: header-info}"></section>
        
        <a th:href="@{/login}">Iniciar Sesión</a>
        <a th:href="@{/usuario}">Usuarios</a>
        <a th:href="@{/doctor}">Doctores</a>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>
