<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="listadoCitas">

            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{cita.listado}]]</h4>
                            </div>
                            <div th:if="${citas != null and !citas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{cita.nombrePaciente}]]</th>
                                            <th>[[#{cita.emailPaciente}]]</th>
                                            <th>[[#{cita.fechaHora}]]</th>
                                            <th>[[#{cita.motivo}]]</th>
                                            <th>[[#{cita.medico}]]</th>
                                            <th>[[#{cita.activa}]]</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="c : ${citas}">
                                            <td>[[${c.idCita}]]</td>
                                            <td>[[${c.nombrePaciente}]]</td>
                                            <td>[[${c.emailPaciente}]]</td>
                                            <td>[[${c.fechaHora}]]</td>
                                            <td>[[${c.motivo}]]</td>
                                            <td>[[${c.medico.nombre}]]</td>
                                            <td th:text="${c.activa} ? 'Activa' : 'Inactiva'" />
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/cita/eliminar/}+${c.idCita}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/cita/modificar/}+${c.idCita}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${citas == null or citas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{cita.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-calendar"></i> [[${totalCitas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
